.projects {
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
  
    h2 {
      flex: 1 1 100%;
      text-align: center;
      font-size: 40px;
      text-transform: uppercase;
    }
  
    .project {
      text-align: center;
      flex: 1;
  
      .project-img {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 80%;
        margin: 0 auto;
    
        img {
          max-width: 100%;
          height: auto;
          display: block;
        }
      }
    
      .title {
        font-size: 30px;
      }
    
      .project-description {
        font-size: 16px;
      }
    }
  }