.description {
    h1 {
      font-size: 60px;
      width: 75%;
    }
  
    .aboutme {
      color: #62646d;
      font-size: 26px;
      font-weight: 300;
      width: 65%;
    }
  
    button {
      border-radius: 10px;
      font-weight: 700;
      border: 0;
      background: black;
      color: #fff;
      padding: 12px;
      font-size: 20px;
      cursor: pointer;
    }
  }