header {
    padding: 20px 28px;
    background: rgba(22, 22, 23, .8);
    position: fixed;
    left: 0;
    width: 100%;
    color: #fff;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    a {
      text-decoration: none;
      color: inherit;
  
      &:hover {
        color: turquoise;
      }
    }
  
    ul {
      list-style: none;
      display: flex;
      margin: 0;
  
      li {
        padding: 10px;
        margin-left: 30px;
        cursor: pointer;
  
        &:last-child {
          background: white;
          border-radius: 10px;
          color: black;
          font-weight: 700;
        }
  
        &:hover {
          color: #3F51B5;
        }
  
        &.active:hover {
          background-color: blanchedalmond;
        }
      }
    }
  }