.contactus {
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    padding: 80px 60px 60px;
  
    h3 {
      font-size: 50px;
      width: 25%;
    }
  
    .contactus-form {
      display: flex;
      flex-wrap: wrap;
      gap: 25px;
  
      .form-group {
        label {
          margin-bottom: 5px;
          color: #8f929e;
          letter-spacing: 0;
          text-transform: none;
          display: block;
        }
  
        input {
          margin-bottom: 18px;
          padding: 30px 20px 30px 15px;
          border: 1px #e4e4e4;
          border-radius: 8px;
          background-color: hsla(0,0%,100%,.5);
          width: 100%;
        }
  
        textarea {
          height: 150px;
          padding-top: 12px;
          width: 100%;
          border: 1px #e4e4e4;
          border-radius: 8px;
        }
  
  
        input::-webkit-input-placeholder {
          color: rgba(50,52,58,.4);
          font-size: 20px;
        }
  
        input:-ms-input-placeholder {
          color: rgba(50,52,58,.4)
        }
  
        input::-ms-input-placeholder {
          color: rgba(50,52,58,.4)
        }
  
        input::placeholder {
          color: rgba(50,52,58,.4)
        }
  
        &:not(:last-child) {
          width: 47%;
        }
        &:last-child {
          flex: 1 1 100%;
        }
      }
    }
  }